@import "bootstrap";
@import "bootstrap/theme";

.about {
  border-bottom: 1px solid #e0e0e0;
  iframe {
    border-radius: 5px;
  }
}

.icon_con {
  margin-right: 15px;
}

body {
  box-sizing: border-box;
  margin-top: 100px;
}

.desc {
  font-size: .9em;
}

.main {
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f9f9f9;

}

.bold {
  font-weight: bold;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
  i {
    font-size: 2em;
  }
}

.contact {
  background-color: #f9fbfc;
  padding-bottom: 40px;
  h3{
    margin-top: 0;
  }

}

.contact_text {
  border-radius: 5px;
  background-color: #e0e0e0;
  height: 75px;
  width: 100%;
  padding-left: 42px;
  h2 {
    margin: 0;
    line-height: 75px;
  }

}

.current {

}

footer {
  position: relative;
  margin-top: 100px;

  .date {
    line-height: 100px;
    color: white;
    position: absolute;
    bottom: 0;
    background-color: gray;
    height: 100px;
    width: 100%;
    margin-top: 15px;
  }
}

.future{
  padding: 15px;
  margin-bottom: 20px;
  background-color: pink;
  border-radius: 5px;
  width: 100%;
}

.opener{
  width: 100%;
  height: 50px;
  background-color: #faf5f0;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  h3{
    margin: 0;
    line-height: 50px;
  }
}

.fixed_top{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.right{
  float: right;
}

.left {
  float: left;
}

.blue {
  color: cornflowerblue;
}

.purple{
  color: violet;
}

.red {
  color: red;
}

.row {
  padding: 15px;
  width: 100%;
}

.boxer {

  border-radius: 5px;
  height: auto;
  width: auto;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.9);
}

#ss1{

}
#ss2{

}
#ss3{

}
#ss4{

}
#ss5{

}
#ss6{

}

.row {
  margin: 0;
  padding: 20px;
}

.skills {
  background-color: #0b0a38;
  color: white;
  border-radius: 5px;
  padding: 15px;

}

.pb {
  padding-bottom: 15px;
}

.text {
  color: #9d9d9d;
}

.centerV {
  height: 50px;
  width: 50%;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;

  .navbar-collapse {
    text-align: center;
  }

  .navbar-brand {
    padding-top: 0;

  }

}

.platforms {
  background-color: #d3d3d3;
  border-radius: 5px;
}

.ul {
  text-decoration: underline;
}

.face_wrapper {
  height: 100px;
  #face {
    height: 100%;
    border-radius: 50%;
    z-index: 100000;

  }
}

@media (max-width:540px) {
  .face_wrapper {
    height: 50px;
    #face {
      height: 100%;
      border-radius: 50%;
      z-index: 100000;

    }
  }
}
@media (max-width:1200px) {
  .main {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width:900px) {
  .main {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width:540px) {
  .main {
    margin-left: 0px;
    margin-right: 0px;
  }
  .contact_text {
    h2 {
      font-size: 1.4em;
    }
  }
}

@media (max-width:450px) {
  .opener {
    h3 {
      font-size: 1.2em;
    }
  }
  ul {
    padding-left: 15px;
  }

}
