<div class="carousel-inner">
  <img src="images/surgery(1).jpg" alt="Second slide">
  <!-- Static Header -->
          <div class="header-text-2">
              <div class="col-md-12 text-center">
                  <img class="abps" src="images/image745.jpg" alt="American Board Of Podiatric Surgery Certified">
              </div>
          </div><!-- /header-text -->
</div>
<div id="about">
  <div>
    <h2> About The Practice</h2>
    <h4>OFFICE VISITS, EMERGENCIES AND POLICIES </h4>
      <p>We take extra time during your first visit to familiarize ourselves with your
      medical history. Please arrive 5 minutes prior to the scheduled time of your first visit in
      order to complete a few forms. Please bring any medical records you feel may be helpful
      as well as a list of all your current health problems, past surgeries, medications you are
      taking and all allergies you may have experienced.</p>
    <h5 id="emergency">IF YOU ARE HAVING AN EMERGENCY CALL 911 FOR IMMEDIATE HELP</h5>
    <h5>Appointment Cancellation or Rescheduling:</h5>
      <p>Please give at least 24 hours to cancel or reschedule an appointment. You may be
      charged for an appointment missed without prior notification. Patients who are more
      than 15 minutes late for an appointment will be rescheduled. If possible we will work
      you back into the schedule to be seen as soon as possible. </p>
    <h5>Office Hours: </h5>
      <p>Patients are seen in the office by appointment. Office hours are 8:30 AM to 5:00
      PM, Monday through Friday. The answering system begins taking all calls after 5:00
      PM.</p>
    <h5>Telephone Calls:</h5>
      <p>Education is an essential part of our responsibility to our patients and their
      families. You are welcome to call the office with questions during regular office hours.
      If we cannot speak with you immediately, someone will return your call as soon as
      possible. We try not to be interrupted when we are with you and request the same for
      other. Our doctors generally will return calls from the morning shortly after 12 noon and
      from the afternoon shortly after 5:00pm. </p>

    <h4>AFTER HOURS AND WEEKEND COVERAGE</h4>
    <p>If you need assistance after normal business hours, please call our main telephone
    number (352-331-4333) and follow the instructions provided. Please speak clearly and
    leave your contact telephone number. We ask that you repeat the number. Often
    when you are concerned you may speak too fast for us to write the number down
    correctly. Without the correct contact number we cannot call you back. The doctor on
    call will return your call as soon as possible. If you do not receive a return call
    within 30 minutes please call back as electronic devices do occasionally fail.</p>
    <h4>PAYMENT AND INSURANCE</h4>
    <ul>
      <li>Payment for medical services is due at the time the services are rendered. If you
anticipate any difficulty with payment, please discuss this with our receptionist before
your appointment. If notified in advance, we will consider special circumstances. </li>
      <li>Please provide your current insurance card so we may confirm your coverage and
copayments.
      </li>
      <li>You will be asked for a photo I.D. which we can copy. This may be your drivers
license or any other government issued I.D. We use this to assist in verifying your
insurance as well as familiarizing our doctors and staff with identity should you call for
prescriptions or other needs. We like to keep a face with each name! </li>
      <li>We ask that you familiarize yourself with your basic insurance benefits and
responsibilities, such as any co-payment, deductibles, or non-covered services which
would be payable at the time of service. </li>
      <li>We are providers for the following insurance companies: Aetna, Avmed, Blue
Cross Blue Shield, Blue Options, Blue Choice, Cigna, First Health, Health Options,
Humana, Tricare, United Healthcare. </li>
      <li>Accepted forms of payment include cash, check, money order, VISA, MasterCard
and Discover. </li>
    </ul>
    <h4 class="confident">CONFIDENTIALITY</h4>
    <p>No patient information ever leaves the office without specific permission from
the patient (if 18 years of age or older), the patient’s parents, or the legal guardian. All
patients are required to sign that they have reviewed our <a ui-sref="forms">Patient HIPAA Authorization
Form</a> at their first office visit. You can review this information on the <a ui-sref="forms">Forms &
Information</a> page.</p>
<h4>TRANSFER OF RECORDS</h4>
<p>If you are entering our practice, please make arrangements with your former
physician for the transfer of all essential medical information to this office. If you are
leaving our practice, we extend the same courtesy to your new physician. To obtain a
copy of your medical records, please complete the <a ui-sref="forms">transfer of records</a> form. The form
can either be brought to the office or faxed to 352-331-8382</p>
<h4>CONSULTATION AND REFERRAL </h4>
<p>Most problems can be managed in the office or in one of the local hospitals.
In some cases, however, problems requiring extremely sophisticated techniques or
subspecialty care arise. Referral of such cases is generally made. Occasionally,
you may want a second opinion about you concern from another physician. We
encourage openness and honesty in this regard, and are quite ready to discuss
such a desire with you. </p>
  </div>


</div>
