<div class="carousel-inner">
    <img src="http://via.placeholder.com/1000x300" alt="Third slide">
 </div>
<div id="about">
  <div class="main">
    <h2>Doctors & Staff</h2>
  </div>
  <div id="bio" class="row bt bb">
    <div class="col-xs-4 text-center">
      <div class="img1">
        <img src="http://via.placeholder.com/200x200" alt="">
      </div>
    </div>
    <div class="col-xs-8">

        <p><span class="bold">Thomas A. Berens, DPM</span> originally from Wausau Wisconsin,
      he graduated University of Florida with an undergraduate
      degree in chemistry before attending the Ohio College of
      Podiatric Medicine in 1984. Dr. Berens completed a podiatric
      surgical residency program at Southeastern Medical Center in
      North Miami Beach Florida in 1986. He has been in private
      practice in Gainesville since 1986 and started Gainesville
      Podiatry Associates at that time. Dr. Berens is board certified in
      reconstructive foot and ankle surgery by the American Board of
      Podiatric Surgery and is a Fellow with the American College of
      Foot and Ankle Surgeons. He has participated in the
      profession on multiple state and national committees and has
      published several articles on foot and ankle surgery.</p>

    </div>

  </div>
  <div id="bio" class="row bb">
    <div class="col-xs-4  text-center">
      <img src="http://via.placeholder.com/200x200" alt="">
    </div>
    <div class="col-xs-8">

        <p><span class="bold">John R. Heiser, DPM</span> graduated from the University of Pittsburgh
        with an undergraduate degree in Biology before attempting the Ohio
        College of Podiatric Medicine in 1984. He completed a podiatric
        surgical residency at the Podiatry Hospital of Pittsburgh in Pittsburgh
        Pennsylvania in 1985. He started a private practice in Pittsburgh
        before moving to Gainesville to join Gainesville Podiatry Associates
        in 1992. Dr. Heiser is board certified in Foot Surgery by the
        American Board of podiatric surgery and is a Fellow with the
        American College and Ankle Surgeons and a Fellow with the
        American Board of Primary Podiatric Medicine. He has been an avid
        runner starting in high school and has completed multiple marathons
        including the Boston Marathon.</p>

    </div>

  </div>
  <div id="bio" class="row bb">
    <div class="col-xs-4 text-center">
      <img src="http://via.placeholder.com/200x200" alt="">
    </div>
    <div class="col-xs-8">

        <p><span class="bold">Luanne Devoe</span> was born in the Gainesville area and has been with
        Gainesville Podiatry Associates since 1988. She is our office
        manager and started with the office as a medical assistant. She has
        worked in virtually every position within the office, other than a
        doctor. At times we believe she feels she could do our job as well!</p>

    </div>

  </div>
  <div id="bio" class="row bb">
    <div class="col-xs-4 text-center">
      <img src="http://via.placeholder.com/200x200" alt="">
    </div>
    <div class="col-xs-8">

        <p><span class="bold">Justin Hart</span> was born in the Gainesville area and attendant Santa Fe
        Community College. Before starting with Gainesville Podiatry
        Associates in 2007 he worked as a greens keeper with Heritage
        Links golf course. He has been our insurance manager and for the
        past several years. Justin find s the hours and air conditioning to be
        an advantage over his previous position.</p>

    </div>

  </div>
  <div id="bio" class="row bb">
    <div class="col-xs-4 text-center">
      <img src="http://via.placeholder.com/200x200" alt="">
    </div>
    <div class="col-xs-8">

        <p><span class="bold">Jacob Hart</span>  also worked at Heritage Links as a greens
        keeper and so far has enjoyed the indoor environment with
        better morning starting hours! Jacob and Justin have
        something else in common, other than having a passion
        for the game of golf. Can you guess what it is?</p>

    </div>

  </div>
  <div id="bio" class="row bb">
    <div class="col-xs-4 text-center">
      <img src="http://via.placeholder.com/200x200" alt="">
    </div>
    <div class="col-xs-8">

        <p><span class="bold">Name</span> Write up</p>

    </div>

  </div>




</div>
