<footer>
  <div class="text-center footWrap">
    <div class="row footTop">
      <div id="foot_links" class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-left">
        <div class="">
          <a ui-sref="home">Home</a>
        </div>
        <div class="">
          <a ui-sref="about">About Us</a>
        </div>
        <div class="">
          <a ui-sref="doc">Doctors & Staff</a>
        </div>
        <div class="">
          <a ui-sref="forms">Forms & Info</a>
        </div>
        <div class="">
          <a ui-sref="products">Products</a>
        </div>
        <div class="">
          <a ui-sref="related">Related Links</a>
        </div>
        <div class="">
          <a ui-sref="services">Services</>
        </div>
        <div class="">
          <a ui-sref="contact">Contact</a>
        </div>
      </div>
      <div id="foot_hours" class="col-lg-7 col-md-7 col-sm-4 col-xs-6 text-left">
          <div class="bold">Office Hours:</div>
          <div class="">
            M - F : 8:30 AM - 5:00 PM
          </div></br>
          <div class="abfas">
            <img id="small" src="images/abfas_mobile.png" alt="American Board of Foot and Ankle Surgery">
            <img id="big" src="images/abfas.png" alt="American Board of Foot and Ankle Surgery : A Credential You Can Trust">
          </div>

      </div>
      <div id="foot_dir" class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-right add">

        <p><span class="fa fa-map-marker"></span> &nbsp;915 North West 56th Terrace</br>Gainesville, Florida 32605</p>
        | <a ui-sref="map">Get Directions</a>
      </div>
    </div>

    <div class="footbar col-xs-12">
      &copy; <script>document.write(new Date().getFullYear())</script> Gainesville Podiatry Associates
    </div>
  </div>
</footer>
