<div id="about">
  <h2>New Patient Information Forms</h2>
  <p>As a way of preparing for your visit, you may wish to download and print our New Patient Information forms
     which will allow you to provide important information needed for your first visit, at your leisure.
     This includes your demographics and insurance information on page 1, health information on page 2 and your <span class="bold">HIPAA Authorization Form</span> on page 3.
     Please be sure to provide all of your past medical conditions, all prior surgeries and all medications.
     If it has been over a year since your last visit to our office you may also wish to print and update this
     information as often our insurance, demographic and medical conditions change more than we expect.</p>
  <div class="pdf">

    <a href="web/viewer.html?file=New_Patient_Forms.pdf" target="_blank"><i class="fa fa-4x fa-file-pdf-o"></i>&nbsp; Welcome To Our Practice</a>
  </div>
</div>
<div id="about">
  <h2>Release of Medical Records</h2>
  <p>If you have been seen previously in another office and would like us to review those records,
    feel free to bring a copy with you. If you would like us to send for your records, please download
    the Release of Medical Records form, provide the necessary information, and forward it to out office
    by e-mail or fax and we will attempt to secure your records.</p>
  <div class="pdf">

    <a href="web/viewer.html?file=Medical_Release.pdf" target="_blank"><i class="fa fa-4x fa-file-pdf-o"></i>&nbsp; Medical Release Form</a>
  </div>
</div>
<div id="about">
  <h2>Full HIPAA Disclosure</h2>
  <p>You may also wish to review information on the Health Insurance Portability
    and Accountability Act (HIPAA) which explains your rights and regulations regarding insurance.
    We do need you to execute the Patient HIPPA Authorization Form which details whom we can discuss and release your medical information.
    This is included as page 3 in the New Patient Information forms which you can download or print by clicking on the link above.</p>
  <div class="pdf">

    <a href="web/viewer.html?file=Full_HIPAA_Disclosure.pdf" target="_blank"><i class="fa fa-4x fa-file-pdf-o"></i>&nbsp; Notice of Privacy Practices</a>
  </div>
</div>
