<div id="carouselH" class="carousel slide" data-ride="carousel" data-interval="false">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      <div class="item active">
        <img src="images/boardwalk.jpg" alt="First slide">
                <!-- Static Header -->
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <h2>
                          <span>Welcome to Gainesville Podiatry Associates</span>
                        </h2>

                      </br>
                        <h3>
                          <span>The office of Dr. Thomas A. Berens and Dr. John R. Heiser</span>
                        </h3>
                        <br>
                        <div class="text-center">
                          <h4>A Medicare and BlueCross Provider</h4>
                        </div>
                    </div>
                </div><!-- /header-text -->
      </div>

  </div>

<div class="row col-xs-12 info">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  text-center x">
    <img src="http://via.placeholder.com/200x200" alt=""></br>
    <a ui-sref="doc">Doctors & Staff</a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  text-center x">
    <img src="http://via.placeholder.com/200x200" alt=""></br>
    <a ui-sref="services">Products</a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  text-center x">
    <img src="http://via.placeholder.com/200x200" alt=""></br>
    <a href="#">Medical Conditions</a>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center y">
    <img src="http://via.placeholder.com/200x200" alt=""></br>
    <a ui-sref="related">Related Links</a>
  </div>
  <div class="col-xs-6 infoCont">
    <div class="hours">
      <h4 class="bold">Office Hours:</h4>
      <p>
        M - F: 8:30 AM - 5:00 PM
      </p>
      Patients are seen in the office by appointment. The answering service begins taking all calls after 5:00 PM.

    </div>
    <div class="visits">
      <h4 class="bold">Office Visits:</h4>

<p>Anyone with an urgent concern will be seen as soon as possible; simply make an
appointment through the receptionist. Please do not walk in without an appointment, as
an additional fee may be charged. If a medical emergency arises, please call the office
so we can adjust the schedule and assemble any necessary supplies before your arrival.</p>
    </div>

  </div>
  <div class="col-xs-6 i text-center infoCont">
    <img src="images/image399.jpg" alt="GPA Office Photo">
    <span class="text-left"><p>Established in 1986, Gainesville Podiatry
            Associates provides comprehensive care
            of the foot and ankle for patients of all
            ages. From infants to the most seasoned
            of our citizens, we strive to address each
            of your concerns. Realizing each person
            has different needs, we offer a
            personalized approach to your care.</p>
    </span>
  </div>




</div>
<div class="row">
  <div class="col-xs-12 text-center emergency">
    <h3>IF YOU ARE HAVING AN EMERGENCY CALL 911 FOR IMMEDIATE HELP</h3>
  </div>

</div>
