  <!-- Wrapper for slides -->
  <div class="carousel-inner">
        <img src="images/boardwalk.jpg" alt="First slide">
                <!-- Static Header -->
                <div class="header-text">
                    <div class="col-md-12 no-p text-center">
                        <h2>
                          Welcome to Gainesville Podiatry Associates
                        </h2>

                      </br>
                        <h3>
                        The office of Dr. Thomas A. Berens and Dr. John R. Heiser
                        </h3>
                        <br>
                        <div class="text-center">
                          <h4>A Medicare and BlueCross Provider</h4>
                        </div>
                    </div>
                </div><!-- /header-text -->
  </div>

<div class="row bb info">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  text-center">
    <a class="doc" ui-sref="doc"><img src="images/group_thumb.jpg" alt="Doctors and Staff"></a></br>
    <button ui-sref="doc">Doctors & Staff</button>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  text-center l">
    <a ui-sref="products"><img src="images/shoes.jpg" alt=""></a></br>
    <button ui-sref="products">Products</button>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center r">
    <a ui-sref="related"><img src="images/UFhealth_logo.gif" alt="Related Links"></a></br>
    <button ui-sref="related">Related Links</button>
  </div>
</div>

<div class="row info bb">
  <div class="col-xs-6 col-md-6 col-sm-6 col-xs-12 infoCont">
    <div class="hours">
      <h4 class="bold">Office Hours:</h4>
      <p>
        M - F: 8:30 AM - 5:00 PM
      </p>
      <p>Patients are seen in the office by appointment. The answering service begins taking all calls after 5:00 PM.</p>

    </div>
  </div>
  <div id="visit" class="col-xs-6 col-md-6 col-sm-6 col-xs-12 bl infoCont">
    <div class="visits">
      <h4 class="bold">Office Visits:</h4>

      <p>Anyone with an urgent concern will be seen as soon as possible; simply make an
      appointment through the receptionist. Please do not walk in without an appointment, as
      an additional fee may be charged. If a medical emergency arises, please call the office
      so we can adjust the schedule and assemble any necessary supplies before your arrival.</p>
    </div>
  </div>
</div>
<section class="info">
  <div class="row est">
  <h4 class="bold">Established in 1986</h4>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
      <img src="images/image399.jpg" alt="">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <h5>Gainesville Podiatry
      Associates provides comprehensive care
      of the foot and ankle for patients of all
      ages. From infants to the most seasoned
      of our citizens, we strive to address each
      of your concerns. Realizing each person
      has different needs, we offer a
      personalized approach to your care. </h5>
    </div>

  </div>
</section>
