<div class="carousel-inner">

    <img src="images/foot_model1.jpg" alt="Third slide">
    <!-- Static Header -->

</div>

<div id="about">
  <h2>Products</h2>

<div id="serv" class="row bb bt">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center pr">
    <img src="images/futura2.jpg" alt="Futura Foot and Ankle Products">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-p pl bl">
    <img src="images/futura_text.jpg" alt=""></br>
    <p>
    Patients with arthritis or a degenerative joint may require a surgical procedure. One
    option discussed may have been a joint replacement. If you would like more information
    on the great toe implant which our office is most commonly using at this time you may
    find the following link to be helpful. <a href="#blank">LINK</a>
    </p>
  </div>
</div>

<div id="serv" class="row bb">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center pr br">
    <img src="images/activeAnkle.jpg" alt="Active Ankle">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-p pl">
    <img src="images/logo-active-ankle.png" alt=""></br>
    <p>
      Active Ankle provides products for both injury prevention and post injury care. This
      leader in foot and ankle care products provides quality devices with comfortable fit
      and function. Ask you doctor if an Active Ankle product may be beneficial to you
      recovery or prevention of an injury.
    </p>
  </div>
</div>



  <!--<p>.</p>-->
</div>
