<div id="about">
  <div class="main">
    <h2>Related Links</h2>

  </div>


  <div class="row bt text-center">
    <div class="col-xs-6">
      <img src="images/NFRMC.jpg" alt=""></br>
      <div><a class="links" href="http://www.nfrmc.com/">http://www.nfrmc.com/</a></div>
    </div>
    <div class="col-xs-6 i">
      <img src="images/APMALogo.png" alt="American Podiatric Medical Association"></br>
      <div><a class="links" href="http://www.apma.org/">http://www.apma.org/</a></div>
    </div>
    <div class="col-xs-6">
      <img src="images/LogoSP.jpg" alt="North Florida Surgical Pavilion"></br>
      <div><a class="links" href="http://www.northfloridasurgicalpavilion.com/">http://www.northfloridasurgicalpavilion.com/</a></div>
    </div>
    <div class="col-xs-6 i">
      <img src="images/image743.png" alt="American College of Foot and Ankle Surgeons"></br>
      <div><a class="links" href="http://www.acfas.org/">http://www.acfas.org/</a></div>
    </div>
    <div class="col-xs-6">
      <img src="images/image747.gif" alt=""></br>
      <div><a class="links" href="http://www.shands.org/">http://www.shands.org/</a></div>
    </div>
    <div class="col-xs-6 i">
      <img src="images/image745.jpg" alt=""></br>
      <div><a class="links" href="http://www.abfas.org/">http://www.abfas.org/</a></div>
    </div>
  </div>
</div>
