<div id="about">
  <div class="main">
    <h2>Related Links</h2>

  </div>


  <div class="row bt text-center">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img src="images/NFRMC.jpg" alt=""></br>
      <div><a class="links" href="http://www.nfrmc.com/">http://www.nfrmc.com/</a></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 i">
      <img src="images/LogoSP.jpg" alt="North Florida Surgical Pavilion"></br>
      <div class="over"><a class="links" href="http://www.northfloridasurgicalpavilion.com/">http://www.northfloridasurgicalpavilion.com/</a></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img src="images/image745.jpg" alt=""></br>
      <div><a class="links" href="http://www.abfas.org/">http://www.abfas.org/</a></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 i">
      <img src="images/UFhealth_logo.gif" alt=""></br>
      <div><a class="links" href="https://ufhealth.org/">https://ufhealth.org/</a></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img src="images/apma_diabetes.png" alt=""></br>
      <div class="over"><a class="links" href="https://www.apma.org/patients/content.cfm?ItemNumber=18807&navItemNumber=24201">https://www.apma.org/patients/content...</a></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 i">
      <img src="images/PD_V.png" alt=""></br>
      <div class="over"><a class="links" href="https://www.apma.org/Patients/content.cfm?ItemNumber=23866&navItemNumber=25225">https://www.apma.org/patients/content...</a></div>
    </div>

  </div>
</div>
