<div class="carousel-inner">

    <img src="images/surgery_2.jpg" alt="Third slide">
    <!-- Static Header -->

</div>
<div id="about">
  <div>
    <h2> Medical Conditions and Services</h2>
  </div>
  <div id="medical" class="row">
    <h4>Our doctors are skilled at treating most conditions of the
    foot and ankle. Some of the more common conditions
    that we manage include:
    </h4>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <ul id="L">
          <li>Bunions ( Hallux Valgus )</li>
          <li>Hammertoe Deformities</li>
          <li>Achilles Tendon Problems</li>
          <li>Ingrown Nails</li>
          <li>Plantar Warts</li>
          <li>Sprains and Strains</li>
          <li>Fractures Throughout the Foot</li>
          <li>Heel Pain ( Plantar Fasciitis )</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <ul>
          <li>Tendinitis</li>
          <li>Pediatric Deformities</li>
          <li>Arch Pain and Flat Feet</li>
          <li>Bone Spurs and other Bone Problems</li>
          <li>Lumps and Soft Tissue Masses of the Foot and Ankle</li>
          <li>Neuroma and Nerve Pain of the Foot and Ankle</li>
          <li>Diabetic Foot Conditions</li>
          <li>Sports Injuries for the Young & not so Young Athlete !</li>
        </ul>
      </div>
      <div class="cond_img text-center">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
          <img src="images/image388.jpg" alt=""></br>
          <h5>Emergency room patient with a
            Penetrating foreign object </h5>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
          <img src="images/image373.jpg" alt=""></br>
          <h5>Bunion & Hammer Toes
            before & after surgery </h5>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
          <img src="images/image390.jpg" alt=""></br>
          <h5>Ingrown Nail</h5>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
          <img src="images/image719.jpg" alt=""></br>
          <h5>“ In toe ”
            Metatarsus Adductus </h5>
        </div>
      </div>
      <div class="no-p">
        <h5 class="under_pics">Inpatient Hospital Consultations are also available at
        North Florida Regional Medical Center on
        a rotating basis with other podiatry practices. </h5>

        <p>* Special requests for inpatient consultations on weeks other than
        our scheduled call may be considered if you are an existing patient. </p>
      </div>
      <div class="no-p">
        <h5>Emergency Room Care</h5>
        <p>Emergency room care is provided on a rotating basis through
        North Florida Regional Medical Center. If you have a need to be seen in the of
        emergency room you may request to see one of our doctors if they are available.
        </p>
      </div>

  </div>
</div>
