<div id="top" class="fixed_top info_top">



  <div class="row">
    <span class="con"><i class="fa fa-map-marker"></i> &nbsp; 915 North West 56th Terrace Gainesville, Florida 32605</span>
    <span class="con"><i class="fa fa-phone"></i> &nbsp; 352-331-4333</span>
    <span class="con"><i class="fa fa-fax"></i> &nbsp; 352-331-8382 (fax)</span>
    <span class="con"><i class="fa fa-envelope"></i> &nbsp; GPA1986@aol.com</span>

  </div>

</div>
<nav class="navbar navbar-default" role="navigation">
  <div id="bar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="logo_wrapper" class="logo_wrapper" class="logo_wrapper">

          <a ui-sref="home"><img id="logo" src="images/GPD_logo.png"></a>

        <a ui-sref="home" class="navbar-brand no-p">Gainesville Podiatry Associates</a>
      </div>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="about">About Us</a></li>
        <li><a ui-sref="map">Directions</a></li>
        <li><a ui-sref="forms">Forms & Info</a></li>
        <li><a ui-sref="services">Services</a></li>
        <li><a ui-sref="contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
